@using Microsoft.AspNetCore.Components;
@using Quarantine.Models;

@if (Feed != null)
{
    <EditForm Model="@volume" OnValidSubmit="@RecordFeed">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label style="float: right; font-weight: bold;">Daily Total: @Feed.DailyVolume ml</label>
        <div>
            <label for="volume">Volume: </label>
            <input id="volume" @bind-value="@volume.Volume" class="jaq-input">
            <button class="btn btn-success btn-block" type="submit">Record Feed #@(Feed.TotalFeeds + 1)</button>
        </div>
    </EditForm>
    <table class="table">
        <thead>
            <tr>
                <th>Volume(ml)</th>
                <th>Fed At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feed in Feed.Feeds)
            {
                <tr>
                    <td>@feed.Volume</td>
                    <td>@GetFormattedDate(feed.FeedTimeUtc)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private SimpleVolume volume = new SimpleVolume();

    [Parameter]
    public FeedView Feed { get; set; }
    [Parameter]
    public EventCallback<SimpleVolume> Volume { get; set; }

    private async Task RecordFeed()
    {
        await Volume.InvokeAsync(volume);
        volume = new SimpleVolume();
    }

    private string GetFormattedDate(DateTime? utcTime)
    {
        if (utcTime == null)
        {
            return "";
        }

        var zone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");

        return TimeZoneInfo.ConvertTimeFromUtc(Convert.ToDateTime(utcTime), zone).ToString("MM/dd/yyyy h:mm tt");
    }
}
