@using Microsoft.AspNetCore.Components;
@using Quarantine.Models;
@using Quarantine.Models.Enums;
@using System.Threading;

@if (Session != null)
{
    <div style="padding: 5px">
        @if (Session.Milks.Count() > 0 && Session.Milks.Any(ps => ps.EndTimeUtc == null))
        {
            <EditForm Model="@handle" OnValidSubmit="@Finish">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="maxwidth">
                    <label for="volume">Volume: </label>
                    <input id="volume" @bind-value="@handle.Volume" class="jaq-input">
                    <button class="btn btn-danger btn-block" type="submit">Finish</button>
                </div>
            </EditForm>
        }
        else
        {
            <label style="float: right; font-weight: bold;">Daily Total: @Session.DailyVolume ml</label>
            <button class="btn btn-success btn-block" type="button" @onclick="async () => { await StartOrFinish(MilkState.Start); }">Start  #@(Session.Total + 1)</button>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>Duration</th>
                <th>Volume(ml)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pump in Session.Milks)
            {
                <tr>
                    <td>@GetFormattedDate(pump.StartTimeUtc)</td>
                    <td>@pump.Duration</td>
                    <td>@pump.Volume</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HandleMilk handle = new HandleMilk();

    [Parameter]
    public MilkSessionView Session { get; set; }
    [Parameter]
    public EventCallback<HandleMilk> HandleMilk { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Timer();
    }

    private async Task StartOrFinish(MilkState pumpState)
    {
        handle.MilkState = pumpState;

        await HandleMilk.InvokeAsync(handle);
    }

    private async Task Finish()
    {
        await StartOrFinish(MilkState.Finish);
    }

    private string GetFormattedDate(DateTime? utcTime)
    {
        if (utcTime == null)
        {
            return "";
        }

        var zone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");

        return TimeZoneInfo.ConvertTimeFromUtc(Convert.ToDateTime(utcTime), zone).ToString("MM/dd/yyyy h:mm tt");
    }

    private async Task Timer()
    {
        while (true)
        {
            await Task.Run(() => Thread.Sleep(5000));

            await InvokeAsync(StateHasChanged);
        }
    }
}
