@using Microsoft.AspNetCore.Components;
@using Quarantine.Models;
@using Quarantine.Models.Enums;
@using System.Threading;

@if (Session != null)
{
    <div style="padding: 5px">
        @if (saving)
        {
            <p><em>Saving...</em></p>
        }
        else if (Session.IsActiveSession)
        {
            <EditForm Model="@handle" OnValidSubmit="@Finish">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @if (Session.TraqType == TraqType.Feed)
                {
                    <div>
                        <label style="padding-right: 13px" for="feeder">Feeder: </label>
                        <select style="width: 55%;" name="feeder" @onchange=@ChorerSelection>
                            @foreach (var chorer in ((Chorer[])Enum.GetValues(typeof(Chorer))).ToList())
                            {
                                <option value=@chorer>@chorer</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <div>
                        <label style="padding-right: 30px" for="pumpAndDump">P&D: </label>
                        <label class="switch">
                            <input name="pumpAndDump" type="checkbox" @onchange="@Toggle">
                            <span class="slider round"></span>
                        </label>
                    </div>
                }
                <div class="maxwidth">
                    <label style="padding-right: 9px;" for="volume">Volume: </label>
                    <input id="volume" type="tel" @bind-value="@handle.Volume" class="jaq-input">
                    <button class="btn btn-danger btn-block" type="submit">Finish</button>
                </div>
            </EditForm>
        }
        else
        {
            <div class="row" style="float: right;">
                <label style="font-weight: bold;">@Session.SessionDate.ToShortDateString() Total: @Session.DailyVolume ml</label>
            </div>
            @if (Session.TraqType == TraqType.Feed)
            {
                <div class="row" style="float: left;">
                    <button type="button" @onclick="InvokeStats" style="padding-bottom: 0px;" class="btn"><span class="oi oi-pie-chart"></span></button>
                </div>
            }
            else if (Session.TraqType == TraqType.Pump)
            {
                <div class="row" style="float: left;">
                    <button type="button" @onclick="InvokeStats" style="padding-bottom: 0px;" class="btn"><span class="oi oi-graph"></span></button>
                </div>
            }
            <div class="row justify-content-center" style="margin-top: 2rem;">
                @if (Session.IsMinDate)
                {
                    <button class="btn btn-warning" disabled><span class="oi oi-caret-left"></span></button>
                }
                else
                {
                    <button class="btn btn-warning" type="button" @onclick="async () => { await Cycle(DayCycleType.Previous); }"><span class="oi oi-caret-left"></span></button>
                }
                <button class="btn btn-success milk-start" type="button" @onclick="async () => { await StartOrFinish(MilkState.Start); }">Start  #@(Session.Total + 1)</button>
                @if (Session.IsMaxDate)
                {
                    <button class="btn btn-warning" disabled><span class="oi oi-caret-right"></span></button>
                }
                else
                {
                    <button class="btn btn-warning" type="button" @onclick="async () => { await Cycle(DayCycleType.Next); }"><span class="oi oi-caret-right"></span></button>
                }
            </div>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>Duration</th>
                <th>Volume(ml)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pump in Session.DailyMilks)
            {
                <tr>
                    <td>@pump.StartTimePst.ToShortTimeString()</td>
                    <td>@pump.Duration</td>
                    <td>@pump.Volume</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HandleMilk handle = new HandleMilk();
    private bool saving;

    [Parameter]
    public MilkSessionView Session { get; set; }
    [Parameter]
    public EventCallback<HandleMilk> HandleMilk { get; set; }
    [Parameter]
    public EventCallback<DayCycleType> CycleDay { get; set; }
    [Parameter]
    public EventCallback<bool> ShowStats { get; set; }

    private Chorer chorer = Chorer.Kyleah;
    void ChorerSelection(ChangeEventArgs args)
    {
        Enum.TryParse(args.Value.ToString(), out Chorer user);
        chorer = user;
    }

    protected override async Task OnInitializedAsync()
    {
        await Timer();
    }

    private void Toggle()
    {
        handle.IsPumpAndDump = !handle.IsPumpAndDump;
    }

    private async Task StartOrFinish(MilkState pumpState)
    {
        handle.MilkState = pumpState;

        if (Session.TraqType == TraqType.Feed)
        {
            handle.Chorer = chorer;
        }

        await HandleMilk.InvokeAsync(handle);
    }

    private async Task Finish()
    {
        saving = true;

        await StartOrFinish(MilkState.Finish);

        saving = false;
    }

    private async Task Cycle(DayCycleType dayCycleType)
    {
        await CycleDay.InvokeAsync(dayCycleType);
    }

    private async Task InvokeStats()
    {
        await ShowStats.InvokeAsync(true);
    }

    private async Task Timer()
    {
        while (true)
        {
            await Task.Run(() => Thread.Sleep(5000));

            await InvokeAsync(StateHasChanged);
        }
    }
}
