@using Microsoft.AspNetCore.Components;
@using Quarantine.Models;
@using Quarantine.Models.Enums;
@using System.Threading;

@if (PumpSessions != null)
{
    <div style="padding: 5px">
        @if (PumpSessions.Pumps.Count() > 0 && PumpSessions.Pumps.Any(ps => ps.EndTimeUtc == null))
        {
            <EditForm Model="@doPump" OnValidSubmit="@FinishPump">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="maxwidth">
                    <label for="volume">Volume: </label>
                    <input id="volume" @bind-value="@doPump.Volume" class="jaq-input">
                    <button class="btn btn-danger btn-block" type="submit">Finish</button>
                </div>
            </EditForm>
        }
        else
        {
            <label style="float: right; font-weight: bold;">Daily Total: @PumpSessions.DailyVolume ml</label>
            <button class="btn btn-success btn-block" type="button" @onclick="async () => { await StartOrFinishPump(PumpState.Start); }">Start Pump #@(PumpSessions.TotalPumps + 1)</button>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>Duration</th>
                <th>Volume(ml)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pump in PumpSessions.Pumps)
            {
                <tr>
                    <td>@GetFormattedDate(pump.StartTimeUtc)</td>
                    <td>@pump.Duration</td>
                    <td>@pump.Volume</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DoPump doPump = new DoPump();

    [Parameter]
    public PumpSessionsView PumpSessions { get; set; }
    [Parameter]
    public EventCallback<DoPump> StartOrFinish { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Timer();
    }

    private async Task StartOrFinishPump(PumpState pumpState)
    {
        doPump.PumpState = pumpState;

        await StartOrFinish.InvokeAsync(doPump);
    }

    private async Task FinishPump()
    {
        await StartOrFinishPump(PumpState.Finish);
    }

    private string GetFormattedDate(DateTime? utcTime)
    {
        if (utcTime == null)
        {
            return "";
        }

        var zone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");

        return TimeZoneInfo.ConvertTimeFromUtc(Convert.ToDateTime(utcTime), zone).ToString("MM/dd/yyyy h:mm tt");
    }

    private async Task Timer()
    {
        while (true)
        {
            await Task.Run(() => Thread.Sleep(5000));

            await InvokeAsync(StateHasChanged);
        }
    }
}
