@page "/traqjaq"

@using Microsoft.Extensions.Options;
@using Quarantine.Interfaces;
@using Quarantine.Services;
@using Quarantine.ExtensionMethods;
@using Quarantine.Models;
@using Quarantine.Models.Enums;
@using Quarantine.Responses;
@using System.Threading;
@inject IHandleRetreivingGames _iServiceGames;
@inject IHandleGameState _gameState;
@inject IOptions<ApplicationSettings> _settings;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>TraqJaq</h1>

<p>A simple solution to monitoring all things Jaq</p>

@if (ServiceResponse != null && !ServiceResponse.IsSuccess)
{
    <div class="alert alert-danger">
        @ServiceResponse.Message
    </div>
}

@if (traqJaqService == null || traqJaqService.IsLoaded == false)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (!isAuthenticated)
    {
        <EditForm Model="@simplePassword" OnSubmit="@Authenticate">
            <div class="maxwidth">
                <label for="password">Password: </label>
                <input id="password" @bind-value="@simplePassword.Password" class="maxwidth" type="password">
            </div>
        </EditForm>
    }
    else
    {
        @foreach (var traqView in traqJaqService.TraqTypeViews)
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" @onclick="eventArgs => { Toggle(traqView.TraqType); }">
                            @traqView.TraqType.GetDescription()
                        </button>
                    </h5>
                </div>
                @if (traqView.IsVisible)
                {
                    <div>
                        <div class="card-body">
                            @switch (traqView.TraqType)
                            {
                                case TraqType.Medicine:
                                    <Medications Meds="traqJaqService.GetMedications()" MedicineType="UpdateMedicine"></Medications>
                                    break;
                                case TraqType.Pump:
                                    if (showStats)
                                    {
                                        <VolumeStats Stats="traqJaqService.Pumps.VolumeStats"></VolumeStats>
                                    }
                                    else
                                    {
                                        <MilkSession Session="traqJaqService.Pumps" HandleMilk="UpdatePump" CycleDay="CyclePumps" ShowStats="ShowStats"></MilkSession>
                                    }
                                    break;
                                case TraqType.Diaper:
                                    if (showStats)
                                    {
                                        <ChorerStats Stats="traqJaqService.Diapers.ChorerStats"></ChorerStats>
                                    }
                                    else
                                    {
                                        <Diapers Session="traqJaqService.Diapers" DiaperContents="DiaperChange" CycleDay="CycleDiapers" ShowStats="ShowStats"></Diapers>
                                    }
                                    break;
                                case TraqType.Feed:
                                    if (showStats)
                                    {
                                        <ChorerStats Stats="traqJaqService.Feeds.ChorerStats"></ChorerStats>
                                    }
                                    else
                                    {
                                        <MilkSession Session="traqJaqService.Feeds" HandleMilk="UpdateFeed" CycleDay="CycleFeeds" ShowStats="ShowStats"></MilkSession>
                                    }
                                    break;
                            }
                        </div>
                    </div>
                }
            </div>
        }
    }
}

@code {
    private GameService gameService;
    private TraqJaqService traqJaqService;
    private ServiceResponse<IList<GameDetails>> ServiceResponse;
    private const int listLimit = 10;
    private SimplePassword simplePassword = new SimplePassword();
    private string localPassword;
    private bool isAuthenticated;
    private bool showStats;

    protected override async Task OnInitializedAsync()
    {
        gameService = new GameService(_iServiceGames);

        ServiceResponse = await gameService.GetGames(Models.Enums.GameType.TraqJaq);

        traqJaqService = new TraqJaqService(_gameState, ServiceResponse.Data?.FirstOrDefault()?.Id);

        await traqJaqService.Loading();

        CheckRefreshStatus();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            while (traqJaqService == null || traqJaqService.IsLoaded == false)
            {
                await Task.Run(() => Thread.Sleep(500));
            }

            localPassword = await localStorage.GetItemAsync<string>("traqJaq_auth");

            if (localPassword == _settings.Value.TraqJaqPasswordKyleah)
            {
                isAuthenticated = true;
                traqJaqService.UserName = "Kyleah";
                StateHasChanged();
            }
            else if (localPassword == _settings.Value.TraqJaqPasswordZach)
            {
                isAuthenticated = true;
                traqJaqService.UserName = "Zach";
                StateHasChanged();
            }
        }
    }

    private void Toggle(TraqType traqType)
    {
        showStats = false;
        traqJaqService.ToggleTraq(traqType);
    }

    private void ShowStats(bool show)
    {
        showStats = show;
        StateHasChanged();
    }

    private async void CheckRefreshStatus()
    {
        while (true)
        {
            await Task.Run(() => Thread.Sleep(100));

            if (traqJaqService != null && traqJaqService.RefreshView)
            {
                traqJaqService.RefreshView = false;

                StateHasChanged();
            }
        }
    }

    private async Task UpdateMedicine(MedicationType medicationType)
    {
        await traqJaqService.UpdateMedicine(medicationType);
    }

    private async Task UpdatePump(HandleMilk pump)
    {
        await traqJaqService.UpdatePump(pump);
    }

    private async Task DiaperChange(Diaper diaperChange)
    {
        await traqJaqService.DiaperChange(diaperChange);
    }

    private async Task UpdateFeed(HandleMilk feed)
    {
        await traqJaqService.Feed(feed);
    }

    private async Task Authenticate()
    {
        if (simplePassword.Password == _settings.Value.TraqJaqPasswordKyleah)
        {
            await localStorage.SetItemAsync("traqJaq_auth", simplePassword.Password);
            isAuthenticated = true;
            traqJaqService.UserName = "Kyleah";
        }
        else if (simplePassword.Password == _settings.Value.TraqJaqPasswordZach)
        {
            await localStorage.SetItemAsync("traqJaq_auth", simplePassword.Password);
            isAuthenticated = true;
            traqJaqService.UserName = "Zach";
        }
    }

    private void CycleFeeds(DayCycleType dayCycleType)
    {
        switch (dayCycleType)
        {
            case DayCycleType.Next:
                traqJaqService.FreshFeeds(traqJaqService.Feeds.SessionDate.AddDays(1));
                break;
            case DayCycleType.Previous:
                traqJaqService.FreshFeeds(traqJaqService.Feeds.SessionDate.AddDays(-1));
                break;
        }
    }

    private void CyclePumps(DayCycleType dayCycleType)
    {
        switch (dayCycleType)
        {
            case DayCycleType.Next:
                traqJaqService.FreshPumps(traqJaqService.Pumps.SessionDate.AddDays(1));
                break;
            case DayCycleType.Previous:
                traqJaqService.FreshPumps(traqJaqService.Pumps.SessionDate.AddDays(-1));
                break;
        }
    }

    private void CycleDiapers(DayCycleType dayCycleType)
    {
        switch (dayCycleType)
        {
            case DayCycleType.Next:
                traqJaqService.FreshDiapers(traqJaqService.Diapers.SessionDate.AddDays(1));
                break;
            case DayCycleType.Previous:
                traqJaqService.FreshDiapers(traqJaqService.Diapers.SessionDate.AddDays(-1));
                break;
        }
    }
}

